.main-row {
    height: 100vh;
}

.col {
    border-right: 1px solid #e8e8e8;
    padding: 0;
}

.list-group {
    position: relative;
}

.list-group:hover {
    background-color: #5c5f61;
    cursor: pointer;
}

.list-group-item {
    background-color: #f3f3f3;
}

.navbar-brand {
    font-size: 1rem !important;
}

.add-button {
    border: none;
    color: #fff;
    background-color: #5c5f61;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.add-button:hover {
    color: #5c5f61;
    background-color: #fff;
}

.save-button, .delete-button {
    position: absolute;
    bottom: -2px;
}

.save-button {
    left: -2px;
    color: #fff;
    background-color: #00a600;
    border: 2px solid white;
    border-radius: 5px;
}

.delete-button {
    right: -2px;
    color: #fff;
    background-color: #ea4747;
    border: 2px solid white;
    border-radius: 5px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

input, textarea {
    width: 100%;
    background-color: transparent;
    border: none;
}

textarea {
  height: 100px;
}

input:focus, textarea:focus{
    background-color: #fff
}