.main-row {
    height: 100vh;
}

.col {
    border-right: 1px solid #e8e8e8;
    padding: 0;
}

.list-group {
    position: relative;

}

.list-group:hover {
    background-color: #5c5f61;
    cursor: pointer;
}

.list-group-item {
    background-color: #f3f3f3;
}

.navbar-brand {
    font-size: 1rem !important;
}

.added-date {
    font-size: 10px;
    margin-bottom: 2rem;
}

.add-button {
    border: none;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.delete-button {
    position: absolute;
    bottom: -3px;
    right: -3px;
    color: #fff;
    background-color: #ea4747;
    border: 3px solid white;
    border-radius: 15%;
}

.delete-button:hover {
    background-color: #d73939;
}

button:focus {
    outline: none;
    box-shadow: none;
}

input, textarea {
    width: 100%;
    background-color: transparent;
    border: none;
}

textarea {
  height: 100px;
}

input:focus, textarea:focus{
    background-color: #fff
}

@media only screen and (max-width: 589px){
    .added-date {
        font-size: 5px;
    }

    .list-group-item {
        padding: 5px;
    }
}